@charset "utf-8";
@import url(style_search_bar.css);

div#user_data_div{
    display: inline-block;
    text-align: center;
}

nav#user_data_nav{
    display: block;
}

ul#head_userpages{
    display: block;
    list-style: none;
    padding: 0px;

}

li#head_item{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    
}

li#head_item a{
    color: black;
    border: 1.3px solid;
    border-color: white;
    padding: 5px;
    width: 150px;
    font-size: 24px;
    text-decoration: none;
    display: block;
    background-color: #b7cd9e;
    border-radius: 4px;
}

li#head_item a:hover{
    color: black;
    border: 1.3px solid;
    border-color: white;
    padding: 5px;
    width: 150px;
    font-size: 24px;
    text-decoration: none;
    display: block;
    background-color: palegreen;
    border-radius: 4px;
}